body{
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: rgb(32, 32, 94);
    padding: 20px 0;
}

#navbar h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    margin: 0;
}

#right-panel a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 1700px;
    margin-top: -39px;
    float:left;
}

#intro{
    background-image: url('https://via.placeholder.com/1200x800'); /* Aggiungi l'URL dell'immagine di sfondo */
    background-size: cover; /* Assicura che l'immagine copra tutta la div */
    background-position: center;
    color: white;
}

#intro p{
    font-size: 18px;
    line-height: 0.5;
    margin-left: 70px;
}
#intro h1{
    font-size: 50px;
    line-height: 0.6;
    margin-left: 70px;
}

#temp p{
    font-size: 16px;
    line-height: 0.5;
    margin-left: 80px;
}
#temp h2{
    font-size: 20px;
    line-height: 0.6;
    margin-left: 80px;
}