body{
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: rgb(32, 32, 94);
    padding: 20px 0;
}
#navbar h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    margin: 0;
}
#right-panel a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-right: 70px;
    margin-top: -39px;
    float:right;
}

#intro{
    color: white;
}
#intro p{
    font-size: 18px;
    line-height: 0.5;
    margin-left: 70px;
}
#intro h1{
    font-size: 50px;
    line-height: 0.6;
    margin-left: 70px;
}

#tinker,
#circuit,
#list{
    background-color: #3a3a3a;
    margin: 0 50px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#tinker img,
#circuit img{
    margin: 20px auto 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    width: 50%;
    height: auto;
    display: block;
}
#list img{
    margin: 20px auto 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    width: 80%;
    height: auto;
    display: block;
}

#code{
    font-family: "Courier New", monospace;
    color: rgb(255, 255, 255);
    background-color: #3a3a3a;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#code pre {
    margin-left: -90px;
    padding: 0;
    text-align: left;
}
  
#code code {
    display: block;
    text-align: left;
    white-space: pre;
    padding: 0;
    margin: 0;
}

#footer{
    background-color: rgb(32, 32, 94);
    padding: 20px 0;
    position: relative;
}
#footer h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: left;
    margin-left: 50px;
    display: inline-block;
}

#credits{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: left;
    left: 200px;
    bottom: 40px;
    line-height: 0.5;
    position: absolute;
}

#rights{
    color: rgb(255, 255, 255);
    font-size: 20px;
    right: 80px;
    bottom: 40px;
    position: absolute;
}