body{
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: rgb(32, 32, 94);
    padding: 20px 0;
}

#navbar h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    margin: 0;
}

#right-panel a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 1700px;
    margin-top: -39px;
    float:left;
}

#footer{
    background-color: rgb(32, 32, 94);
    padding: 20px 0;
    position: relative;
}
#footer h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: left;
    margin-left: 50px;
    display: inline-block;
}

#credits{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: left;
    left: 200px;
    bottom: 40px;
    line-height: 0.5;
    position: absolute;
}

#rights{
    color: rgb(255, 255, 255);
    font-size: 20px;
    right: 80px;
    bottom: 40px;
    position: absolute;
}